*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
.navbar{
    background-color: white;
}
.navbar-brand{
    margin: 0px 20px;
    color: blue;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}
.navbar-brand span{
    color: aqua;
}
.nav-link{
    text-transform: uppercase;
    margin: 0px 10px;
}
.hero{
    background-image: url(img/home-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.opacity{
    background-color: rgb(65 0 255 / 0.25);
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
}
.row{
    height: 100%;
}
.hero-img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    color: white;
}
.hero-img .img-fluid{
    width: 450px;
    height: 450px;
}
.hero-content h2{
    text-transform: uppercase;
    font-size: 40px;
}
.hero-content p{
    color: rgba(255, 255, 255, 0.733);
}
.hero-content a{
    display: inline-block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: aqua;
    color: white;
    transition-duration: .5s;
}
.hero-content a:hover{
    background-color: black;
}
.about{
    background-color: #333;
    height: 100vh;
}
.about .row.one{
    height: 20%;
}
.about .row.two{
    height: 80%;
}
.about-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-left: 20px
}
.about-text h2{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
}
.about-text h3{
    text-transform: uppercase;
}
.about-text p:nth-of-type(1){
    color: blueviolet;
    font-size: 20px;
}
.about-text p span{
    color: blueviolet;
}
.about-img{
    width: 250px;
    height: 230px;
}
.about-img-content{
    background-color: rgba(255, 255, 255, 0.719);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blue{
    height: 60vh;
    background-color: rgba(28,202,227,255);
}
.blue-conten{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blue-text{
    width: 600px;
    padding: 10px;
    color: white;
    text-align: center;
}
.blue-text a{
    display: inline-block;
    width: 150px;
    text-decoration: none;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    transition-duration: .5s;
}
.blue-text a:hover{
    background-color: white;
    color: black;
}
.blue-text p{
    font-size: 23px;
}
.slider{
    background-color: black;
    height: 100vh;
}
.slider .row.one{
    height: 20%;
}
.slider .row.two{
    height: 80%;
}
.slider-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.slider-text h2{
    text-transform: uppercase;
}
.slider-img{
    width: 200px;
    height: 300px;
}
.cards{
    height: 100vh;
    background-color: rgba(84,90,212,255);
}
.cards .row.one{
    height: 20%;
}
.cards .row.two{
    height: 80%;
}
.card-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.card{
    width: 250px;
    height: 300px;
    background-color: white;
}
.card-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-content h3{
    color: aqua;
}
.card-content p{
    color: rgba(0, 0, 0, 0.5);
}
.card-content p:first-of-type{
    color: blue;
}
.card-content a{
    display: inline-block;
    width: 150px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: aqua;
    color: white;
    border-radius: 15px;
    transition-duration: .5s;
    transform: translateY(25px);
}
.card-content a:hover{
    background-color: black;
    color: aqua;
}
.subscribe{
    height: 75vh;
    background-image: url(IMG/T4.jpg);
    background-position: center;
    background-size: cover;
}
.subscribe .row.one{
    height: 50%;
}
.subscribe .row.two{
    height: 50%;
}
.subscribe-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 0px 200px;
    padding: 20px;
}
.subscribe-text h2{
    text-transform: uppercase;
    font-weight: bold;
}
.subscribe-text p{
    color: rgba(255, 255, 255, 0.596);
}
.subscribe-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-content input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    outline: none;
    margin-right: 50px;
}
.subscribe-content input::placeholder{
    color: white;
}
.subscribe-content a{
    display: inline-block;
    width: 200px;
    background-color: white;
    color: aqua;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition-duration: .5s;
}
.subscribe-content a:hover{
    background-color: aqua;
    color: black;
}
.foot{
    height: 20vh;
    background-color: black;
}
.foot .row{
    height: 100%;
}
.foot-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.foot-text img{
    width: 50px;
    height: 50px;
    margin: 0px 15px;
}
@media (max-width:767px){
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(52, 255, 245, 0.596)),url(img/home-bg.jpg);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .opacity{
        background-color:  rgb(0 0 0 / 0);
    }
    .row{
        height: 60%;
    }
    .hero-img .img-fluid{
        width: 300px;
        height: 250px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        color:black;
        text-align: center;
    }
    .hero-content a{
        width: 150px;
    }
    .about{
        height: 100%;
        padding: 40px 0px;
    }
    .about .row.one{
        height: 8%;
    }
    .about .row.two{
        height: 90%;
    }
    .about-text{
        justify-content: flex-start;
    }
    .about-text h2{
        font-size: 25px;
    }
    .about-text h3{
        font-size: 20px;
    }
    .about-text p{
        font-size: 13px;
    }
    .about-text p:nth-of-type(1){
        font-size: 13px;
    }
    .about-img{
        width: 150px;
        height: 230px;
    }
    .blue{
        height: 100%;
        padding: 40px 0px;
    }
    .blue-text{
        max-width: 360px;
        height: 300px;
        padding: 5px;
    }
    .blue-text p{
        font-size: 20px;
    }
    .slider{
        height: 100%;
        padding: 30px 0px;
    }
    .slider-text{
        justify-content: flex-start;
        padding: 0px 15px;
    }
    .slider-img{
        width: 200px;
        height: 250px;
        padding: 5px 0px;
    }
    .slider-img img{
        width: 100%;
        height: 100%;
    }
    .cards{
        height: 100%;
        padding: 30px 0px;
    }
    .card{
        width: 250px;
        height: 290px;
        border-radius: 20px;
        margin-bottom: 5px;
    }
    .card-content a{
        transform: translateY(0px);
    }
    .subscribe{
        height: 100%;
        padding: 30px 0px;
    }
    .subscribe-text{
        margin: 0px 25px;
        padding: 10px;
    }
    .subscribe-content{
        flex-direction: column;
    }
    .subscribe-content input{
        margin-right: 0px;
    }
    .subscribe-content input::placeholder{
        text-align: center;
    }
    .subscribe-content a{
        margin-top: 30px;

    }
    .foot{
        padding: 10px 0px;
        height: 100%;
    }
    .foot-text{
        text-align: center;
    }
    .foot-text p{
        font-size: 14px;
    }
    .foot-text img{
        width: 20px;
        height: 20px;
        margin: 0px 8px;
    }
}